.THIS {
    position: relative;
    padding:20px;
    padding-top:0px;
}

.THIS .slds-app-launcher__tile {
    margin: 0 0 1rem 0;
}
.THIS .slds-section__title {
    margin-bottom: 12px;
}

.THIS .popup-icon {
    margin-right: 8px;
}