.spinnerContainer {
    position: relative;
    /* width: 100%;
    height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
/*EMD : MODAL Section */


.toggle .slds-grow span{
    float: inline-end;
}

.line-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.toggle-container {
    /* width: auto !important;
    white-space: nowrap; */
    width: auto !important;
    display: flex ;
    align-items: center;
    flex: 0.5;

}
.toggle-container lightning-input {
    width: unset !important;
    max-width: unset !important;
    min-width: unset !important;
}

.output-container {
    flex: 1; /* Take up remaining space */
    margin-bottom: 1%;
    margin-left: -15% !important;
}

lightning-helptext{
    display: none;
}
.toggle {
    /* --slds-c-checkbox-toggle-color-background: #78d301;
    --slds-c-checkbox-toggle-color-background-hover: #78d301;
    --sds-c-checkbox-toggle-color-background-focus: #78d301; */
    
    --sds-c-checkbox-toggle-color-background-checked: rgb(117, 9, 9);
    --sds-c-checkbox-toggle-color-background-checked-hover: rgb(117, 9, 9);
    --slds-c-checkbox-toggle-color-background-checked-focus: rgb(117, 9, 9);
    
    /* --slds-c-checkbox-toggle-color-border: rgb(117, 9, 9);
    --sds-c-checkbox-toggle-color-border-focus: rgb(117, 9, 9);
    
    --sds-c-checkbox-toggle-color-border-checked: rgb(117, 9, 9); */
    }