.mainDiv {
    max-width: 100%;
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.centerSpinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.displayFlex_ColumnGap {
    display: flex;
    column-gap: 15px;
}

.granularColumn {
    display: flex;
    column-gap: 15px;
    padding-right: 15px;
    align-items: flex-end;
    min-width: 405px;
}

.gridBuilderClass {
    display: flex;
}

.builderLeftSection {
    width: 80%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.builderRightSection {
    width: 20%;
    height: 15em;
}

.toggle-header {
    display: flex;
    align-items: flex-end;
    column-gap: 5px;
}

.toggle-label {
    font-size: 0.75rem;
    font-family: var(--lwc-fontFamily);
    color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextLabel, rgb(68, 68, 68)));
}

.toggle-row {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    padding-bottom: 3px;
    padding-top: 5px;
}

.message-toggle-label {
    font-size: 12px;
}