.THIS {
    padding: 0 20px;
}

.THIS .slds-section__title {
    margin-bottom: 12px;
}

.THIS .popup-icon {
    margin-right: 8px;
}

.THIS .head-bottomPad {
    padding-bottom:20px;
}

.THIS div.button-leftPadding {
    padding-left:20px;
}

.THIS table {
	padding-left:0px;
	padding-right:0px;
}