.THIS {
}


.THIS .toggle {
    display: none;
}

.THIS .newAccount{
  max-height: 200px;
} 

.THIS .contactDetails{
  max-height: 340px;
  padding: 0.5rem;
} 

.THIS .moveToActiveDiv{
  /*max-height: 500px;*/
} 

.THIS .hierarchyText{
  max-height: 60px;
  padding: 0.5rem;
  overflow-wrap: break-word;
} 

.THIS .slds-transition-hide{
 padding: 0.0rem;
 opacity: 0;
 height: auto;
 max-height: 0;
 transition: opacity 0.5s linear, max-height 0.5s linear, padding 0.5s linear;
}

.THIS .slds-transition-show{
 transition: opacity 0.5s linear, max-height 0.5s linear, padding 0.5s linear;
}