.THIS .slds-scrollable_y  {
	    padding-bottom: 100px;
}
.THIS .right-align {
	float: right;
}

.THIS .slds-scrollable_x {
    overflow-y:visible !important;
    overflow-x:visible !important;
}

.THIS .slds-scrollable_y {
    overflow-y:visible !important;
    overflow-x:visible !important;
}

.THIS .slds-scrollable {
    overflow-y:visible !important;
    overflow-x:visible !important;
    overflow:visible !important;
}

.THIS .small-menu-td {
    width: 30px;
}
.THIS .greenActionButton {
    background-color:rgb(177, 204, 102);
}

.THIS .showClass {
    background-color: red;
    color: red;
}