.THIS .btnC {
    background-color:rgb(207 97 72);
    color: #FFF;
}

.THIS .btnB {
    background-color:rgb(35 85 155);
    color: #FFF;
}

.THIS .btnA {
    background-color:rgb(78 130 103);
    color: #FFF;
}